
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5>Leave Balance</h5>
    <div class="header-controls">
      <input #date type="date">
      <button class="btn bg-primary" (click)="search(date.valueAsDate)">Search</button>
    </div>
  </div>
  <div class="card-body row">
    <div class="col">
      <div class="chart-container">
        <canvas #totalLeave></canvas>
      </div>
      <div class="info-cards">
        <div class="card align-center">
          <h6>Total Employee</h6>
          <div>{{employee}}</div>
        </div>
        <div class="card align-center my-2">
          <h6>Leave Employee</h6>
          <div>{{leave}}</div>
        </div>
      </div>
    </div>
    <div class="main-chart">
      <canvas #myChart></canvas>
    </div>
  </div>
</div>





