<div class="card col">
  <div class="card-header">
    <div><h5>All Employee Details</h5></div>
    <div class="search">
      <input #userName type="text" placeholder="Enter your first name" >
      <button (click)="search(userName.value)">Search</button>
    </div>
  </div>
  <div class="card-body">
      <table class="table ">
        <thead class="thead-light ">
        <tr >
          <th>First Name</th>
          <th>Last Name</th>
          <th>Worker Role</th>
          <th>Email</th>
          <th>Contact Number</th>
        </tr>
        </thead>
        <tbody *ngIf="!isSearch">
        <tr *ngFor="let employee of managerService.employees" >
          <td>{{employee.firstname}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.workerRole}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.contactNumber}}</td>
          <td>
            <button class="btn btn-primary" (click)="updateEmployee(employee.userName)">UPDATE</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(employee.userName,employee.firstname)">DELETE</button>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="isSearch">
        <tr *ngFor="let employee of employee">
          <td>{{employee.firstname}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.workerRole}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.contactNumber}}</td>
          <td>
            <button class="btn btn-primary" (click)="updateEmployee(employee.userName)">UPDATE</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(employee.userName,employee.firstname)">DELETE</button>
          </td>
        </tr>
        </tbody>
      </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center" style="cursor: pointer" >
        <li class="page-item"><a class="page-link" (click)="movePage(false)">Previous</a></li>
        <li class="page-item"><a class="page-link" (click)="pagination(page)" >{{page+1}}</a></li>
        <li class="page-item"><a class="page-link" (click)="movePage(true)">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
<div  *ngIf="isDelete" class="my-5 w-50" >
  <div class="d-flex align-content-center m-5 position-absolute bottom-0 start-50 translate-middle-x"><app-delete-employee (isDelete)="changeStatus($event)"></app-delete-employee></div>
</div>



