
    <div class="row">
      <div class="col-md-4 position-fixed" >
        <div >
          <div>
            <app-clock></app-clock>
          </div>
          <div>
            <app-calendar></app-calendar>
          </div>
        </div>
      </div>
      <div class="row col-5"><p></p></div>
      <div class="col-7 my-4">
        <app-manager-data-chart></app-manager-data-chart>
        <div class="card my-5">
          <div class="card-header">
            <h2>Leave Notification</h2>
          </div>
          <div class="card-body w-auto h-auto">
            <div *ngIf="!isRes">
              <p>NO NEW REQUEST</p>
            </div>
            <div *ngIf="isRes">
              <div class="container">
                <div class="row">
                  <div *ngFor="let employee of leaveEmployees; let i = index" class="col-md-6" >
                    <div class="card d-flex flex-row" style="width: auto; height: auto; margin: 10px" (click)="goLeaveManage(employee.id)">
                      <div class="card-body" style="width: 20rem;" >
                        <h5 class="card-title">{{employee.accept}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{employee.duration}}</h6>
                        <p>{{employee.leaveType}}</p>
                        <p>{{extractDateFromString(employee.startDate)}} to {{extractDateFromString(employee.endDate)}}</p>
                        <mat-accordion>
                          <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Description
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{employee.description}}</p>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                      <div >
                        <div class="bg-dark" style="width: 5rem; height: 15rem"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





