.form-control, .form-select {
  height: 44px;
  width: 100%;
}


.form-group {
  margin: 0 10px;
}

.chart{
  width: 650px;
  height: 350px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.bg-dark{
  width: 5rem;
  height: 15rem
}
