.main1{
  width: 25%;
  height: 8rem ;
  margin: 10px;
  border: 10px solid black
}

.leave-balance-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;

}

.chart-test{
  font-size: 30px;
}

.leave-add-text{
  margin: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #f83b3b;
  padding: 5px;
}
.leave-button{

  border: #f83b3b solid 5px ;
  margin-left: 40px;
  margin-right: 40px;
}
