<div *ngIf="!dashBord" class="d-flex flex-row">
  <div class="main1 card text-center " >
    <div class="card-body " >
      <p>Total All Leave = {{totalLeave}}</p>
      <p>Remaining Leave = {{28-totalLeave}}</p>
    </div>
  </div>
  <div class="main1 card text-center">
    <div class="card-body " >
      <p>Total Annual Leave = {{14-(leaveBalanceDetails?.annualDays || 0)}}</p>
      <p>Remaining Leave = {{(leaveBalanceDetails?.annualDays || 0)}}</p>
    </div>
  </div>
  <div class="main1 card text-center">
    <div class="card-body ">
      <p>Casual Leave = {{7- (leaveBalanceDetails?.casualDays || 0)}}</p>
      <p>Remaining Leave = {{(leaveBalanceDetails?.casualDays || 0)}}</p>
    </div>
  </div>
  <div class="main1 card text-center">
    <div class="card-body ">
      <p>Sick Leave = {{7-(leaveBalanceDetails?.sickDays || 0)}}</p>
      <p>Remaining Leave = {{(leaveBalanceDetails?.sickDays || 0)}}</p>
    </div>
  </div>
</div>

<div *ngIf="dashBord" class="container leave-balance-container">
  <div class="card leave-balance">
    <div class="card-header leave-balance-header row" routerLink="/leaveHistory">
      <h2 >Leave Balance Report: {{date}}</h2>
    </div>
    <div class="card-body row d-flex leave-balance-body align-content-center justify-content-between">
      <div class="chart col-3"><app-data-chart [dashBord]="dashBord"></app-data-chart></div>
      <div class="chart-test col-3"><span>Leaves-{{totalLeave}}</span></div>
      <div class="col-6 d-flex flex-column align-content-center">
        <span class="leave-add-text">Click here to request a new leave</span>
        <button class="leave-button " routerLink="/leaveAdding">Add leave</button>
      </div>
    </div>
  </div>
</div>



